# Week 2 - Day 1 - Expressions and Variables

## Learning goals for today:
- Key concept: expressions
    - Recognize Python expressions
    - Recognize different data type literals
    - Recognize what operators are used for the appropriate data types
    - Recognize TypeErrors and common fixes
- Key concept: variables
    - Explain the function of variables in programs
    - Articulate basic principles of variable naming
    - Recognize good and bad examples of variable naming
    - Recognize NameErrors and common fixes

## Expressions

Expressions are the basic building blocks of programs. 

They are chunks of Python code that **evaluate to** (yield) some value. 

We can chain them to create more complicated statements and programs.

Here are a simple few examples.

In [ ]:
1 = [1, 2, 3, 4, 6, 10]
for item in 1:
    if item <6:
        new_item = item +2

In [1]:
3 + 2 * 2

7

In [2]:
3 > 1

True

Now let's look at some other examples! Some might surprise you.

In [3]:
1

1

In [4]:
3 == 3

True

In [5]:
5

5

Again, expressions are chunks of Python code that **evaluate to** (yield) some value. 

This means that one heuristic you can use to tell if a chunk of code is an expression or not, is to test or imagine it being the last line in a cell; if it yields an output by itself, then it's an expression.

Later we will see examples of Python statements that are not expressions, even though they *contain* expressions.

### Anatomy of an expression

An expression is built from, at minimum a value.

Like `3`, or (as we will later see), a variable that holds a value.

Often, it also includes an **operator** that does something with the value(s).

Like `>` or `+`.

So, in:

`3 + 1`

The values are `3` and `1`

and the operator is `+` (addition).

### Types of operations

There is a full list of operators [here](https://www.w3schools.com/python/python_operators.asp) (bookmark this!). But for this module, the main ones to focus on are
- Arithmetic operators (for doing math): `+ - * / %`
- Concatenation operator (for joining `str` values) `+`
- Assignment operators (for creating and updating variables) `=`
- Comparison operators (yield `boolean` values, used for conditionals)
- Logical operators: `and` `or` `not` (yield `boolean` values, used for conditionals)

Let's look at some examples together.

#### Arithmetic operators

In [6]:
1-3

-2

#### Concatenation

In [7]:
"1" + "1" 
#joins two strings together, it looks at the two values, if they are strings then they connect them, if they are numbers then it will add them

'11'

#### Assignment operators
I'll just show some examples here, we'll discuss them in more detail in a bit.

#### Comparison operators

These can work with most/any data types. But the result may not always be what you expect!

In [11]:
"A" != "a"

True

#### Logical operators
These are for logical expressions. You'll find them to be most useful when you work with conditionals

In [13]:
a = 5
a < 10 or not a % 2 == 0 #or you can use != without the word not

True

### Compound expressions

We can build expressions from values that are... the results of expressions.

We know we can do this with math.

In [17]:
# value on the right is the *result* of the expression 1 + 2
3 * (1 + 2)

9

And it's also common with logical expressions, which are often built from comparison expressions

In [14]:
# is 3 greater than 2 and less than 10? 
# this will make more sense when we use variables :)
3>2 and 3<10

True

### Values have *types*

To work with expressions and perform operations on them, Python needs to know what **type** of data they are.

Here are some basic types of data that Python knows out of the box:
1. `str` - strings, expressed with single quotes `'a'` or double quotes `"a"` (Python doesn't differentiate)
2. `int` - integer numbers (i.e., no decimals), like `3`. For doing math.
3. `float` - floating point numbers (i.e., with decimals), like `3.0`. For doing more precise math.
4. `boolean` - True or False values. Important for creating logical structures in your programs (like conditionals).

There are (many!) more types of values (including more complex data structures, such as lists, dictionaries, and data frames), but these will be sufficient for at least Module 1.

When we give these values to Python by themselves (not in a value), we call them **literals**. Let's look at some examples.

In [ ]:
1

In [ ]:
1.0

In [ ]:
"1"

In [ ]:
"True"

In [ ]:
True

Notice how the syntax highlighting helps us recognize the different literals. Generally, `int` and `float` are green, `strings` are red, and `booleans` are bold and green.

This is worth memorizing, to help you manage data types, because as we will see next, value types constrain what kinds of operations are valid.

### Value types constrain operators

Often (but not always, expressions are built from a combination of values and some *operators* that do something with the values.

Some examples:
- You can only do math with numbers; if your numbers are actually `string`, you will run into issues
- If you need to run Boolean logic (like test whether something is true or false), you need to have `boolean` values

Let's do a couple together. Follow along!

In [7]:
a = 1
b = "2"
a + b

TypeError: unsupported operand type(s) for +: 'int' and 'str'

### The TypeError

Note how when we try to write an expression that creates an invalid combination of operators and values, we get a `TypeError` error message. This happens when it's a `syntax error` (not a valid expression/statement).

But this doesn't always happen! One example of **semantic errors**:

In [11]:
# I want numbers, but I get concatenation
# THIS HAPPENS MORE OFTEN THAN YOU WOULD THINK
a = "1"
b = "2"
a + b

'12'

In [12]:
# I want decimal points, but I used ints
# In Python 2 this used to be a silent error (you get 1 instead of 0.5), but now Python auto-converts
a = 1
b = 2
a / b

0.5

Notice the silent failure.

This where you need to fall back on the other parts of computational thinking, such as problem formulation and good variable naming practices, which we will discuss next.

Later in this semester, as you encounter more data value types, you will run into more `TypeErrors`, both with an error message, and without.

## Aside: anatomy of an error message

<img src="../resources/anatomy of an error.png" height=300 width=600></img>

It's worth familiarizing yourself with this. You will be seeing a lot of this! There are clues in here that help you debug and ask for help.

For example, the traceback helps you find the part in your code that *might* be causing an error. The bottom bit (type of error and description) is helpful for Googling for fixes.

## Variables

Variables are a named place in the computer's memory where a programmer can store data and later retrieve it using the variable name.

Think of a variable as a box with a label on it. You can put stuff in the box, take stuff out of the box.

In [15]:
# for example
x = 12.2
y = 14
print("x has the value ", x)
print("y has the value ", y)

x has the value  12.2
y has the value  14

In [16]:
x + y

26.2

In [17]:
x > y

False

You can also switch out what is in the box.

In [18]:
print("x is ", x)
x = 100
print("x is ", x)
x = y + 35
print("x is ", x)

x is  12.2
x is  100
x is  49

In [19]:
z = 25

In [20]:
z + y

39

### Variables are a kind of abstraction: crucial element of computational thinking

Key q: what's the underlying repeating structure that I can or want to *generalize* and compose with other things?

In [21]:
# a machine that multiplies 2 and 3
print(2 * 3)

# a machine that multiplies 4 and 5
print(4 * 5)

# a machine that multiplies 3 and 10
print(3 * 10)

# a machine that multiplies two numbers
x = 2
y = 20.5
print(x * y)

# a machine that raises a number to the 2nd power
x = 5
print(x ** 2)

6
20
30
41.0
25

In [ ]:
# a machine that adds "FA" to "hello"
print("hello" + "FA")

# a machine that adds "FA" to "yes"
print("yes" + "FA")

# a machine that adds "FA" to "guess"
print("guess" + "FA")

# a machine that adds "FA" to a string
s = "anything"
print(s + "FA")

In [ ]:
# add "jc" to the end of the hello world filename
print("hello-world" + "-jc")

# add "jc" to the end of each filename
filename = "lecture01"
print(filename + "-jc")

# add "any initial" to the end of any filename
filename = "lecture01"
initial = "-sp"
print(filename + initial)

## Creating and updating variables

We assign a value to a variable using an **assignment statement**, which consists of:
1. An *expression* on the right-hand side that tells you what value should go in the variable,
2. An *assignment operator* (`=`), and
3. The *name* you want for the variable


**NOTE THE DIFFERENCE BETWEEN `=` and `==`!!!**

In [22]:
# multiply 3 by 5 and put the resulting value in the variable box labeled "x"
x = 3 * 5
x

15

In [25]:
y = "joel" + "chan"
y

'joelchan'

Updating a variable also happens with an assignment statement

In [23]:
x = 3 * 5 # create the variable x and assign its initial value
print("x has the value", x)
x = 22 # update the value of the variable x with the value 22
print("x now has the value", x)

x has the value 15
x now has the value 22

In some statically typed languages you can declare a variable just by writing its name and its type. But in Python you need to define it with an assignment statement.

In [24]:
z = "hello"
z
x = z
print("x is", x)

x is hello

## Managing "types" with variables

Remember how we said that data types matter? Because some operators only work with certain data types?

This means you need to make sure you keep track of / control what data types are going in your expressions. If you never use variables, it's a bit easier, bc you can clearly see what type the values are. 

But with variables, keeping track of data types can be tricky in Python. This is because Python is a **dynamically typed** language. This means that when the computer runs a Python program, it dynamically guesses the "type" of a variable box. It also means that the type of data that can go in a variable box is "dynamic" (i.e., can be changed). This removes some of the overhead to writing code, but you do need to be careful, since Python's guesses may not always match your intentions! And we know that mixing data types in statements leads to bugs.

*Side note: if you've learned another programming language before, you might find this unfamiliar. For example, in Java, which is a statically typed language, you have to declare what type a variable is when you create it, and the type won't change.*

### Find out what type a variable is with `type()`

You can use the built-in function `type()` to figure out what is inside a variable.

In [4]:
a = "1"
b = 1
c = 1.0
print(a, type(a))
print(b, type(b))
print(c, type(c))

1 <class 'str'>
1 <class 'int'>
1.0 <class 'float'>

And write an expression that can test this

In [6]:
type(a) == str

True

### "Casting" variables to change their type

So what to do? If we really want to make sure that data types are what we expect them to be, we often use "cast" functions. These are the same name as data types, and they basically "force" a value to become a certain data type. You can pass in raw values or variables. Let's look at some common examples.

Let's go back to a common use case for this. Making sure that the data that will go in a math expression are all number types (otherwise we run into issues!)

In [26]:
x = 3
y = "2"
x + y

TypeError: unsupported operand type(s) for +: 'int' and 'str'

In [1]:
# if we want to do math, need to convert y to a number
x = 3
y = "2"
if type(x) != int or type (y) !=int:
    result =int(x) +int(y)
else: 
    result = x + y
result

5

In [ ]:
x = "4"
y = "50"
x / y

In [ ]:
7 + 2

In [ ]:
# an int
x = 2
print("x is ", x)
print("x is a ", type(x))
# change to a str
x = str(x)
print("x is ", x)
print("x is a ", type(x))
# change to a float
x = float(x)
print("x is ", x)
print("x is a ", type(x))
x = int(x)
print("x is ", x)
print("x is a ", type(x))

In [ ]:
x = input("Give me a number, and I'll multiply it by 3")
result = x * 3
print(result)

In [ ]:
x = input("Give me a number, and I'll multiply it by 3")
x = int(x) # make sure it's an int
result = x * 3
print(result)

In [ ]:
x = "hello"
x = int(x)

### Choosing names for your variables 2/3/22

In terms of **syntax** (remember our division between computational thinking and coding? this is coding), there aren't a ton of restrictions for naming variables:
- Must contain at least one letter
- Must start with a letter or an underscore (`_`)
- Must not be a "reserved word"
  - Non-exhaustive list: `False`, `None`, `class`, `if`, `and`, `as`, `else`
  - Full list [here](https://www.w3schools.com/python/python_ref_keywords.asp) (can also Google "python reserved words". Don't need to memorize (you'll naturally remember this over time), but definitely keep handy

In [ ]:
ten2 = 5

In [ ]:
ten2

In [ ]:
None = 6

The more important piece is the computational thinking piece. How do you choose variable names that assist with your ability to formulate problems, model data, and debug your programs?

Our **fundamental principle** here is: *choose names that make the logic of the program legible*.

Let's look at some examples of how this plays out.

Which is clearer?

In [ ]:
a = 35.0
b = 12.50
c = a * b
print(c)

In [ ]:
hours = 35.0
rate = 12
pay = hours * rate
print(pay)

Which is clearer?

In [ ]:
x = "Hello world, my name is Joel, and I am learning Python"
y = "name"

for a in x.split():
    if a == y:
        print("Found!")

In [ ]:
sentence = "Hello world, my name is Joel, and I am learning Python"
keyword = "name"

words = sentence.split()
print(words)
for word in words:
    if word == keyword:
        print("Found!")

By convention, you might see people use certain names for certain kinds of things. For example, `i` is often used to refer to a counter value
`s` (or some variant of it) is often used to refer to a string.

You should feel free to name variables whatever makes sense to you, as long as you feel they accurately signal the logic of the program they're in. Your future self (and current/future collaborators) will thank you for following this fundamental principle. You'll be surprised how often you can get unstuck simply by clarifying the names of the variables (which makes the structure of the program clearer, and the source of the problem obvious).

In [2]:
# example: debug a program that computes a total check with 20% tip after accounting for 7% tax

a = 15.00
b = 0.2
c = 0.07

d = c * (a + a*b)
e = a + d
e

16.26

### The `NameError`

Remember: computers (and Python) are *very literal*. Mispellings matter a lot.

In [14]:
myNumber = 125
anotherNumber = 65
mynumber + anotherNumber

NameError: name 'mynumber' is not defined

This will happen a lot to you. It's basically this:

<img src="../resources/what-huh.gif" width=400 height=200></img>

"not defined" = "I can't find the box you're asking me to find"

Reasons this can happen:
- You misspelled the variable
- You forgot to run an expression that created the variable before you asked Python to do something with it

For the first one, a fun tip in programming environments like this is to use the `tab` autocomplete feature.

In [15]:
number_1 = 125
number_2 = 35

In [ ]:
num